@keyframes rotateGradient {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.glow-border {
  background: conic-gradient(
    from 0deg,
    #5d89b8,
    #7fd8ff,
    #8fe3cf,
    #5d89b8
  );

  animation: rotateGradient 8s linear infinite;
}

.glow-blur {
  background: conic-gradient(
    from 0deg,
    #5d89b8,
    #7fd8ff,
    #8fe3cf,
    #5d89b8
  );

  filter: blur(18px);

  opacity: .55;

  animation: rotateGradient 8s linear infinite;
}